<div class="row">
    <div class="col-12">
        <h1>Welcome to my site</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Unde molestiae mollitia ipsum qui vero illo?
        </p>
        <img width="300" src="images\dear-img.jpg" alt="">
        <img width="300" src="images\money-img.jpg" alt="">
    </div>
</div>