<div class="row">
    <div class="col-12">
        <h1>Our Services</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque et saepe aliquam non perspiciatis beatae.
        </p>
        <img width="300" src="images\services-img.jpg" alt="">
    </div>
</div>